In [31]:
# importing pandas module 
import pandas as pd 
  
# making data frame from csv file 
nba = pd.read_csv("EmptyTest.csv") 
  
# replacing na values in college with No college 
nba.fillna('EMPTY', inplace = True) 
  
nba.head()

       Date      Day Temperature Rainfall Flyers  Price  Sales
0  1/1/2017   Sunday          27        2     15    0.3     10
1  2/1/2017   Monday        28.9     1.33     15    0.3     13
2  2/1/2017   Monday       EMPTY     1.33     15    0.3     13
3  2/1/2017   Monday        28.9     1.33     15    0.3     13
4  3/1/2017  Tuesday        34.5     1.33     27    0.3     15

In [40]:
# filter rows for empty using  the boolean expression
nba_empty = nba['Flyers']=='EMPTY'
nba_empty = nba[nba_empty]
print(nba_empty)

           Date      Day Temperature Rainfall Flyers  Price  Sales
10     8/1/2017   Sunday        37.5     1.18  EMPTY    0.3     15
152  30/05/2017  Tuesday          75     0.67  EMPTY    0.3     30
312   6/11/2017   Monday        51.6     0.91  EMPTY    0.3     22